

<ng-template #addPackageTemp let-modal>
  <form #addpackage="ngForm" (ngSubmit)="onAddPackage(addpackage)">
    <label type ="hidden" for="id"></label><br>
      <input type="hidden" id="id"  ngModel  name="id" ><br><br>
      
    <label for="name">name:</label><br>
    <input type="text" id="name" ngModel name="name" ><br>
     <label for="price">price:</label><br>
    <input type="text" id="price" ngModel  name="price"><br><br>
    PROVIDER
    <div class="box">
      <select name="providersInpackage" ngModel id="providersInpackage" >
        <option *ngFor="let providers of providerss" [ngValue]="providers" >
          {{ providers.name }}
        </option>
      </select>
      </div>
      
    <button class="button button"  id= "che121p"  type="submit" value="Submit" (click)="modal.close('Save click')"  >ClickThsi One</button>
   
      

  </form>
  </ng-template>


<button class="button5" (click)="open(addPackageTemp)">addpackage</button>

