<body>
    <div  >
    <div >
    
      <div>
        <button class="button5" (click)="open(KursMade)" >Add Channels to Package</button>
        <button class="button5" (click)="open(IncreasePrice)" >Increase Price</button>
        <button class="button5" (click)="getChannels()" > Refressh channels</button>
        <button class="button5" (click)="open(clients)" >Add new client</button>
       
      <app-channel-list></app-channel-list>
    <app-contracct-list></app-contracct-list>
    <app-packages-list></app-packages-list>
    <app-providers></app-providers>
    <div class="dropdown">
      <button class="dropbtn">Packages</button>
      <div class="dropdown-content" >
        <a *ngFor="let packages of packagess" (click)="getChannelsByPackage(packages.id)">{{packages.name}}</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Categorys</button>
      <div class="dropdown-content">
        <a (click)="getChannelsByCategory('Music')" >Music</a>
        <a (click)="getChannelsByCategory('Comedy')"> Comedy</a>
        <a (click)="getChannelsByCategory('News')">News</a>
        <a (click)="getChannelsByCategory('Sport')">Sport</a>
        <a (click)="getChannelsByCategory('Children')">Children</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Payments of Client</button>
      <div class="dropdown-content" >
        <a *ngFor="let clients of clientss" (click)="getPayments(clients.id, clients.fname)">{{ clients.fname! }}</a>
      </div>
    </div>
      </div>
    <h1  style="color:#6DEEA2;">All channels</h1>
    <ng-template #contentUpdate let-modal>
    <form #updateChannel="ngForm">
      

        <label type ="hidden" for="id"></label><br>
        <input type="hidden" id="id"  ngModel ={{channel?.id}} name="id" ><br><br>

        
      <label for="name">name:</label><br>
      <input type="text" id="name" ngModel ={{channel?.name}} name="name" ><br>
      <label for="type">type:</label><br>
      <input type="text" id="type" ngModel ={{channel?.type}} name="type"><br><br>
      <label for="price">price:</label><br>
      <input type="text" id="price" ngModel ={{channel?.price}} name="price"><br><br>
      <label for="pack_id">pack_id:</label><br>
      <input type="text" id="pack_id" ngModel ={{channel?.pack_id}} name="pack_id"><br><br>
      
      <!-- <label type ="hidden" for="contract_id"></label><br>
      <input type="hidden" id="contract_id"  ngModel ={{channel?.contract_id}} name="contract_id" ><br><br> -->

      <div class="box">
        <select name="providers" ngModel id="providers" >
          <option *ngFor="let providers of providerss" [ngValue]="providers" >
            {{ providers.name }}
          </option>
        </select>
        </div>
      
      <button class="button button"  id= "che111p"  type="submit" value="Submit" (click)="modal.close('Save click')" (click)="update(updateChannel.value)" >ClickThsi One</button>
      
    </form>
    </ng-template>
    <ng-template #contentUpdatePackage let-modal>
      <form #updatePackage="ngForm">
        <label type ="hidden" for="id"></label><br>
          <input type="hidden" id="id"  ngModel ={{packages?.id}} name="id" ><br><br>
          
        <label for="name">name:</label><br>
        <input type="text" id="name" ngModel ={{packages?.name}} name="name" ><br>
         <label for="price">price:</label><br> 
         <input type="text" id="price" ngModel ={{packages?.price}} name="price"><br><br>
        
         <div class="box">
          <select name="providersInpackage" ngModel id="providersInpackage" >
            <option *ngFor="let providers of providerss" [ngValue]="providers" >
              {{ providers.name }}
            </option>
          </select>
          </div>
          
    
         <button class="button button"  id= "che121p"  type="submit" value="Submit" (click)="modal.close('Save click')" (click)="updatePackages(updatePackage.value)"(click)="getPackages()">ClickThsi One</button>
        
      </form>
      </ng-template>
    <table class="table table-striped">   
        <thead>
      <tr>
      <th style="color: #6DEEA2;">Name</th>
      <th style="color: #6DEEA2;">price</th>  
      <th style="color: #6DEEA2;"> type</th>
      <th style="color: #6DEEA2;"> provider</th>
      <th style="color: #6DEEA2;"> update</th>
      <th style="color: #6DEEA2;"> delete</th>
      </tr>
        </thead>
          <tbody *ngFor="let channela of channels" >
           <tr >
              <td style="color: #6DEEA2;">{{channela?.name}}</td>
               <td style="color: #6DEEA2;">{{channela?.price}}</td>
               <td style="color: #6DEEA2;">{{channela?.type}}</td>
               <td style="color: #6DEEA2;">{{channela?.providers?.name}}</td>
               <td >
                <button (click)="update" (click)="open(contentUpdate)" (click)="getChannelByid(channela.id)">+</button>
               </td>
               <td>
                <button (click)="deleteChannel(channela.id)">-</button>
               </td>
              </tr>
          <tr>
          </tbody>
      </table>
    
     <h1 style="color:#6DEEA2;"> All Packages </h1>
      <table class="table table-striped">
        <thead>
      <tr>
      <th style="color: #6DEEA2;">Name</th>
      <th style="color: #6DEEA2;">price</th>  
      <th style="color: #6DEEA2;">provider</th>
      <th style="color: #6DEEA2;">update</th>
      <th style="color: #6DEEA2;">delete</th>
      </tr>
        </thead>
          <tbody *ngFor="let packages of packagess">
           <tr>
              <td style="color: #6DEEA2;"> {{packages?.name}}</td>
               <td style="color: #6DEEA2;">{{packages?.price}}</td>
               <td style="color: #6DEEA2;">{{packages?.providersInpackage?.name}}</td>
               <td> <button (click)="update" (click)="open(contentUpdatePackage)" (click)="getPackagesbyId(packages.id)">+</button>
               </td>
               <td style="color: #6DEEA2;">
                <button (click)="deletePackage(packages.id)">-</button>
               </td>
              </tr>
          <tr>
          </tbody>> 
      </table>>
    
      <ng-template #KursMade let-modal>

        <form #contractFormAddPackage="ngForm" (ngSubmit)="SelectedPackage(contractFormAddPackage)">
          <div class="box">
          <select name="packagesss" ngModel >
            <option *ngFor="let packages of packagess" [ngValue]="packages">
              {{ packages.name }}
            </option>
          </select>
          </div>
          <button class="button10" id= "multiselect"  type="submit" value="Submit"  >Select Package</button>
          
          </form> 

        <form #addChannelstoPackage="ngForm" (ngSubmit)="onListSend(addChannelstoPackage)">
          <div class="box">
        <select multiple name="channel" ngModel >
          <option *ngFor="let channel of channels" [ngValue]="channel">
            {{ channel.name }}
          </option>
        </select>
          </div>
      
        <button class="button10" id= "multiselect"  type="submit" value="Submit" >Select chanels to add</button>
      
        </form> 
        
      </ng-template>
    
    
      <ng-template #IncreasePrice let-modal>
        <br style="background-color: #15172b;">
        <p class="middletext">     With how much(in percent)<br>
      <form #testform="ngForm" (ngSubmit)="onClickSubmit(testform.value)">
        <input type = "text" name = "percent" placeholder = "percent" ngModel>
        <br style="background-color: #15172b;">
            <p class="middletext">     Select from whichg providers<br>
          <div class="box">
            
       
          <select name="providers" ngModel id="providers" >Select from whichg providers
            <option *ngFor="let providers of providerss" [ngValue]="providers" >
              {{ providers.name }}
            </option>
          </select>
          </div>
        <button class="button button" id= "chep"  type="submit" value="Submit" (click)="modal.close('Save click')" >ClickThsi One</button>
        
      </form>
     </ng-template>
     <ng-template #clients let-modal>
      <br style="background-color: #15172b;">
      <p class="middletext">Add Client
      <form #addclient="ngForm" (ngSubmit)="onAddClient(addclient)">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" ngModel  name="fname" ><br>
        <label for="type">Last name:</label><br>
        <input type="text" id="lname" ngModel  name="lname"><br><br>        
        <label for="egn">egn</label><br>
        <input type="text" id="egn" ngModel  name="egn"><br><br>       
        <button class="button button"  id= "che111p"  type="submit" value="Submit" (click)="modal.close('Save click')">ClickThsi One</button>
        
      </form>
      </ng-template>

     
         
        
        
     <br>
     
    
    
      
    
    
    </div>
    </div>
    </body>