
  <button class="button5"    (click)="open(contract)" (click) = "getIdOfCreatedContract()"(click)="getChannels()">Create new contract</button>
  <button class="button5"  (click) = "updatePrice()">Renew contract prices</button>
  <!-- 
  <div *ngFor=" let number of idOfContract">
    {{number}}
  </div>> -->
  
  <ng-template #contract let-modal>
 <div>
   <br>
  <h1 style="color: white; text-align: center;">Create contract</h1><br>
  <form #contractForm="ngForm" (ngSubmit)="onAddContract(contractForm)" >
    
    <label type ="hidden" for="id"></label><br>
    <input type="hidden" id="id"  ngModel ={{idOfContract}} name="id" ><br><br>

    <label for="type">date:</label><br>
    <input type="date" id="datestart" ngModel name="start_date"><br><br>
    <label for="price">date:</label><br>
    <input type="date" id="dateend" ngModel name="end_date"><br><br>
    <label for="peice">price:</label><br>
    <input type="number" id="price" ngModel = "{{contractPrice}}" name="price"><br><br>
    <button class="button5" style= "background-color: red;" (click)="getPriceOfContract(idOfContract!)"> recalculate price</button><br>
    <label for="name">name of contract(not needed):</label><br>
    <input type="text" id="name" ngModel  name="name" ><br>
    <label>CLIENT:</label><br>
      <div class="box">
      <select name="clients" ngModel id="clients" >
        <option *ngFor="let clients of clientss" [ngValue]="clients" >
          {{ clients.fname }}
        </option>
      </select>
      </div>
    <button class="button5" id= "ccchep"  (click)="modal.close('Save click')"  >ClickThsi one</button>
    
  </form>

  
  
  <div >
    
    <form #contractFormAddChannels="ngForm" (ngSubmit)="onListSend(contractFormAddChannels)">
      <div class="box" >
    <select multiple name="channel" ngModel >
      <option *ngFor="let channel of channels" [ngValue]="channel" >
        {{ channel.name }}
        {{ channel.providers?.name}}
     
      </option>
      <br>
    </select>
      </div>

    <button class="button5" id= "multiselect"  type="submit" value="Submit" >Select chanels to add</button>
  
    </form> 
  </div>
      
       
     
       <div class="box" >
        <form #contractFormAddPackage="ngForm" (ngSubmit)="onListSendPackage(contractFormAddPackage)">
          
          <select multiple name="package" ngModel >
            <option *ngFor="let packages of packagess" [ngValue]="packages">
              {{ packages.name }}
              {{ packages.providersInpackage?.name}}
            </option>
          </select>
         <br>
          <button  class="button5" id= "multiselect"  type="submit" value="Submit"  >Select packages to Add packages</button>
          
          </form>  
        
  </div>
  <br>
  
    <h1 style="color: white">Selected channels</h1><br>

    <table class="table table-striped">
      <thead>
    <tr >
    <th style="color: white">Name</th>
    <th style="color: white">price</th>  
    <th style="color: white">id</th>
    </tr>
      </thead>
        <tbody *ngFor="let channel of channelsForContract">
         <tr>
            <td style="color: white">{{channel?.name}}</td>
             <td style="color: white">{{channel?.price}}</td>
             <td style="color: white">{{channel?.id}}</td>
            </tr>
        <tr>
        </tbody>
    </table>

  

    <h1 style="color: white"> Selected packages</h1><br>
 
      <table class="table table-striped">
        <thead>
      <tr>
      <th style="color: white">Name</th>
      <th style="color: white">price</th>  
      <th style="color: white">id</th>
      </tr>
        </thead>
          <tbody *ngFor="let packages of packagesForContract">
           <tr>
               <td style="color: white">{{packages?.name}}</td>
               <td style="color: white">{{packages?.price}}</td>
               <td style="color: white">{{packages?.id}}</td>
              </tr>
          <tr>
          </tbody>>
      </table>



  
    </div>
  </ng-template>
