
<button class="button5" (click)="open(content)">addChannel</button>
<ng-template #table let-modal>
<h2>channels</h2>
<div >
<table class="table table-striped">
  <thead>
<tr>
<th>Name</th>
<th>price</th>  
<th>id</th>

</tr>


  </thead>




    <tbody *ngFor="let channel of channels">
     <tr>
        <td>{{channel?.name}}</td>
         <td>{{channel?.price}}</td>
         <td>{{channel?.id}}</td>
        </tr>
    <tr>
    </tbody>> 
</table>>
  </div>>
  <h1>packages</h1>



<br>

</ng-template>
<ng-template #content let-modal>
<h1>addChannel</h1>

<form #addForm="ngForm" (ngSubmit)="onAddChannel(addForm)">
  <label for="name">name:</label><br>
  <input type="text" id="name" ngModel name="name" ><br>
  <label for="type">type:</label><br>
  <input type="text" id="type" ngModel name="type"><br><br>
  <label for="price">price:</label><br>
  <input type="text" id="price" ngModel name="price"><br><br>
  <label for="pack_id">pack_id:</label><br>
  <input type="text" id="pack_id" ngModel name="pack_id"><br><br>
    <div class="box">
    <select name="providers" ngModel id="providers" >
      <option *ngFor="let providers of providerss" [ngValue]="providers" >
        {{ providers.name }}
      </option>
    </select>
    </div>
  <button class="button button" id= "chep"  type="submit" value="Submit" (click)="modal.close('Save click')" >ClickThsi One</button>
  
</form>



</ng-template>

